* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*------------------------------------*\
  #Poster de la página
\*------------------------------------*/

.grid {
  background: $colorTheme;
  font-family: $font-family-serif;
  font-size: 20px;
  font-weight: 300;
  min-height: 100vh;
  padding: 1em;
  text-transform: uppercase;
}

.span {
  display: block;
}

@mixin my-web-color() {
  color: $form-color;
}

.title--primary {
  z-index: 2;
  animation: color-change 3s infinite;
  @include my-web-color();
}

.title--secondary {
  text-align: right;
  @include my-web-color();
}

.text-bold {
  font-weight: bold;
}

.cover-img {
  height: 100%;
  object-fit: cover;
}

.title--secondary .text-bold {
  font-size: max(8vw, 40px);
}

.title--primary .text-bold {
  font-size: max(10vw, 60px);
}

.info {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  @include my-web-color();
}

.info-lista {
  margin-top: 1em;
}

@keyframes color-change {
  0% {
    color: #ff0000;
  }
  50% {
    color: #5615cf;
  }
  100% {
    color: #fffb00;
  }
}

/*------------------------------------*\
  #Reproductor de youtube
\*------------------------------------*/

#youtube-audio {
  background-color: $color-play;
  width: fit-content;
  padding-bottom: 10px;
  margin-bottom: auto;
  font-style: italic;
}

/*------------------------------------*\
  #Media queries aplicados a grid
\*------------------------------------*/

@media (min-width: 860px) {
  @supports (display: grid) {
    .grid {
      display: grid;
      grid-template-rows:
        minmax(1em, auto)
        max-content 1fr 3em minmax(1em, auto);
      grid-template-columns: 4fr repeat(4, 1fr) 4fr;
      grid-gap: 0 10px;
      height: 100vh;
      min-height: 600px;
    }
    .title--secondary {
      grid-row: 2/3;
      grid-column: 1 / 3;
    }

    .title--primary {
      grid-row: 4/6;
      grid-column: 5/7;
    }

    .cover {
      grid-row: 2/5;
      grid-column: 2 / span 4;
    }

    .info {
      grid-row: 3/5;
      grid-column: 1/2;
      align-self: flex-end;
    }

    #youtube-audio {
      grid-row: 3;
      grid-column: 6;
    }
  }
}

/*------------------------------------*\
  #background animation
\*------------------------------------*/

.content {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 20px;
  width: 100%;
  background: linear-gradient(-45deg, #c9ec89, #e9463a, #b4b8b9, #917ba3);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
