.foto-concert {
  display: block;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  background-color: black;
  color: #f0f0f0;
  width: 30%;
}

.lista {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.banner {
  width: 40%;
  margin: 0 auto;
}

.concert-img {
  width: 40%;
}

.text-center {
  padding-top: 30px;
}
blockquote {
  background: #b5abec;
  border-left: 10px solid #ccc;
  width: 40%;
  margin: auto;
  padding: 0.5em 10px;
  margin-top: 20px;
  font-family: "Brush Script MT";
  font-size: 30px;
}
